@model CourseEntity
@{
    ViewData["Title"] = "SingleCourse";
    int detailNumber = 1;
}

<section class="single-course">
    <div class="container-xl">
        <div class="course-header">
            <img class="background-image" src="~/images/single-course.png" alt="@Model.Title">
        
            <div class="header-content container-large">
                <div class="path">
                    <i class="fa-regular fa-house"></i>
                    <p>Home</p>
                    <i class="fa-sharp fa-solid fa-angles-right"></i>
                    <a asp-action="Courses" asp-controller="Course">Courses</a>
                    <i class="fa-sharp fa-solid fa-angles-right"></i>
                    <p class="active-path">@Model.Title</p>
                </div>
                <div class="is-bestseller-digital">
                    @if (Model.IsBestSeller)
                    {
                        <p class="best-seller">Best Seller</p>
                    }
                    @if (Model.IsDigital)
                    {
                        <p class="digital">Digital</p>
                    }
                </div>
                
                <h1 class="course-title">@Model.Title</h1>
                <p class="title-description">Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>
                <div class="course-stats">
                    <p class="reviews"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i> (@Model.Reviews K)</p>
                <p class="ratings"><i class="fa-light fa-thumbs-up"></i>@Model.LikesInNumbers K likes</p>
                <p class="hours"><i class="fa-regular fa-clock"></i>@Model.Hours hours</p>
                </div>
                <div class="created-by">
                    <img src="~/images/course-author.png" alt="@Model.Author image">
                    <div class="author-content">
                        <p>Created by</p>
                        <p class="author">@Model.Author</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-large">

            <div class="course-description-container">
                <div class="course-content-box">
                    <div class="description-content">
                        <h2>Course Description</h2>
                        <p class="description-text">
                            @Model.Description
                        </p>
                        <h3>What you'll learn</h3>
                        <ul>
                            @foreach (var learnObject in @Model.Learn) {
                                <li>@learnObject</li>
                            }
                        </ul>
                    </div>
                    
                </div>

                <div class="course-include">
                    <h4>This course includes:</h4>
                    <p>
                        <i class="fa-solid fa-desktop"></i>
                        @Model.Hours hours on-demand video
                    </p>
                    <p>
                        <i class="fa-light fa-file-lines"></i>
                        @Model.Articles articles
                    </p>
                    <p>
                        <i class="fa-solid fa-arrow-down-to-bracket"></i>
                        @Model.Downloads downloadable resources
                    </p>
                    <p>
                        <i class="fa-solid fa-infinity"></i>
                        Full lifetime access
                    </p>
                    <p>
                        <i class="fa-regular fa-trophy"></i>
                        Certificate of completion
                    </p>
                    
                    @if (Model.DiscountPrice != "0"){
                        <p class="discount-price">$@Model.DiscountPrice <span>$@Model.OriginalPrice</span> </p>
                    }
                    else 
                    {
                        <p class="price">$@Model.OriginalPrice</p>
                    }

                    <button class="join-course-btn">Join course</button>
                </div>
            </div>
            <div class="course-details">
                        <h2>Program Details</h2>
                        @foreach (var detail in @Model.Details) {
                            <div class="detail-box">
                                <p class="detail-count">@detailNumber</p>
                                <div class="detail-content">
                                    <h4>@detail.Title</h4>
                                    <p class="detail-description">@detail.Description</p>
                                </div>
                            </div>
                            detailNumber++;
                        }
                    </div>



            <div class="author-container">
                <div class="img-box"><img src="~/images/course-author.png" alt="@Model.Author image" class="author-image"></div>
                <div class="author-text-content">
                    <p>Learn from the best</p>
                    <h2 class="author-title">@Model.Author</h2>
                    <p class="author-description">
                        Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.
                    </p>
                    <div class="buttons">
                        <button class="youtube">
                            <i class="fa-brands fa-youtube"></i>
                            @(Model.Subscribers)k subscribers
                        </button>
                        <button class="facebook">
                            <i class="fa-brands fa-square-facebook"></i>
                            @(Model.Followers)k followers
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>